.contenedor {
    display: flex;
    flex-flow: row wrap;
}

.elemento {
    width: 10%;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.elemento {
    flex: 1 1 0;
}

.elemento:nth-child(4) {
    flex-grow: 3;
}