.contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: space-around;
  height: 400px; 
  background-color: #b6b4b4;
}

.elemento {
  width: 450px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: white;
  border: 1px solid; 
  height: 15vh; 
}


.elemento:nth-child(1) { height: 130px; }
.elemento:nth-child(2) { height: 100px; }
.elemento:nth-child(3) { height: 70px; }
.elemento:nth-child(4) { height: 100px; }
.elemento:nth-child(5) { height: 100px; }
.elemento:nth-child(6) { height: 130px; }
.elemento:nth-child(7) { height: 100px; }

