.grid-container {
    width: 400px;
    display: grid;
    gap: 1px;
    background-color: #fff;
    margin-bottom: 20px;
}

.celda {
    background-color: #6c7d8b;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.ejercicio1 {
    grid-template-columns: repeat(3, 1fr);
}


.ejercicio2 {
    grid-template-columns: repeat(3, 1fr);
}

.ejercicio2 .celda:first-child {
    grid-column: span 3;
}

.ejercicio3 .celda:nth-child(2) {
    grid-row: span 2;
}

.ejercicio3 .celda:first-child {
    grid-column: span 3;
}

.ejercicio4 {
      grid-template-areas:
        "area1 area1 area1"
        "area2 area3 area4"
        "area2 area5 area6";
    }

    .ejercicio4 .celda:nth-child(1) { grid-area: area1; }
    .ejercicio4 .celda:nth-child(2) { grid-area: area2; }
    .ejercicio4 .celda:nth-child(3) { grid-area: area3; }
    .ejercicio4 .celda:nth-child(4) { grid-area: area4; }
    .ejercicio4 .celda:nth-child(5) { grid-area: area5; }
    .ejercicio4 .celda:nth-child(6) { grid-area: area6; }
