body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #5279e4;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white
}

nav a {
    margin: 0 5px;
    color: white;
}

.contenedor {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
    grid-template-areas:
        "aside tarjetas";
}

.aside {
    grid-area: aside;
    background-color: white;
    border-radius: 5px;
    padding: 0.5em;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
}

.menu li {
    background-color: #d3cfcf;
    border-radius: 2px;
    padding: 5px;
}

.aside a {
    text-decoration: none;
}

.tarjetas {
    grid-area: tarjetas;
    display: flex;
    gap: 1em;
}

.tarjeta {
    flex: 1;
    background-color: white;
    padding: 1em;
    color: black;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 3px 3px #87878750;
}

.footer {
    background-color: #33353a;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 2em;
}

@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-areas:
            "tarjetas"
            "aside";
    }

    .tarjetas {
        flex-direction: column;
        gap: 5px;
    }

    .contenedor {
        padding: 1em;
    }
}