
.contenedor {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #b6b4b4;
}

.elemento {
    width: 20%;
    height: 70%;
    color: white;
    font-size: 18px;
    text-align: center;
}