
.contenedor {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    background-color: #b6b4b4;
}

.elemento {
    width: 20%;
    color: white;
    font-size: 18px;
    text-align: center;
}

