* {
    box-sizing: border-box;
    border: 1px solid red;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.container-inner {
    border: 1px solid blue;
}

.columna1,
.columna-inner {
    width: 100%;
}

@media (min-width: 600px) {
    .columna1 {
        width: 25%;
        height: 100vh;
    }

    .columna-inner {
        width: 75%;
    }
}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
