* {
    border: 1px solid black;
}

.contenedor {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    height: 250px;
}

.elemento {
    width: 20%;
    height: 25%;
    color: white;
    text-align: center;
}

