@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #85aedd;
}

.navbar {
  grid-area: navbar;
  background-color: #afd6af;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fdcfcf;
}

.main {
  grid-area: main;
  background-color: #f5f5f5;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "navbar"  50px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
}

/* Diseño TABLET (desde 768px) */
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template:
      "header header"   100px
      "navbar navbar"   50px
      "sidebar main"    auto
      "footer footer"   100px
    / 1fr 3fr; /* 1 parte para sidebar, 3 partes para main */
  }
}

/* Diseño DESKTOP (desde 1024px) */
@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template:
      "header header header"   100px
      "navbar main sidebar"    auto
      "footer footer footer"   100px
    / 1fr 3fr 1fr; /* navbar: 1fr, main: 3fr, sidebar: 1fr */
  }
}


