.contenedor {
    text-align: center;
}

nav {
    margin-left: 20%;

}

.menu li {
    display: inline;
    margin: 5%;
    color: white;
}

.izquierda,
.medio,
.derecha {
    display: inline-block;
    vertical-align: top;
    height: 80vh;
    font-size: 16px;
}

.izquierda,
.derecha {
    background-color: red;
    width: 10%;
}

.medio {
    width: 80%;
}

.arriba,
.centro,
.abajo {
    width: 100%;
}

.arriba,
.abajo {
    background-color: green;
    height: 10%;
}

.centro {
    background-color: yellow;
    height: 80%;
}


.contenedor2 {
    margin-top: 2%;
}

.cabecera {
    background-color: red;
    width: 100%;
    height: 12vh;
}

.lateral {
    background-color: yellow;
    width: 25%;
    height: 30vh;
    float: left;
}

.principal {
    background-color: rgb(230, 228, 228);
    width: 50%;
    height: 30vh;
    float: left;
}

.lateral-derecho {
    background-color: rgb(145, 235, 145);
    width: 25%;
    height: 30vh;
    float: right;
}

.pie {
    background-color: rgb(165, 219, 226);
    width: 100%;
    height: 12vh;
    float: inline-end;
}

.contenedor3 {
    margin-top: 2%;
    display: inline-block;
}

.fila {
    display: block;
    margin-bottom: 1.5%;
    text-align: center;
}

.imagen {
    display: inline-block;
    width: 30%;
    margin: 0 0.5%;
    vertical-align: top;
    text-align: center;
    border: 3px solid black;
    padding: 8px;
    box-sizing: border-box;
}

.imagen img {
    width: 50%;
    height: 20vh;
}

.imagen p {
    margin-top: 6px;
    font-size: 14px;
    color: #222;
}

.fila-ultima {
    margin-top: 1%;
    display: inline-block;
    width: 100%;
    margin-bottom: 2%;
}

.fila-ultima .imagen {
    width: 100%;
}

.fila-ultima .imagen img {
    width: 15%;
    height: 20vh;
    text-align: left;
}

.contenedor4 {
    margin-left: auto;
}

.contenedor4>p {
    font-size: 22px;
    font-weight: bold;
}

.primera {
    position: static;
    background-color: rgb(105, 2, 109);
    color: rgb(255, 239, 194);
    width: 20%;
    text-align: center;
    padding: 1px 7px;
    z-index: 2;
    font-size: 15px;
}

.segunda {
    position: absolute;
    top: 341%;
    left: 21%;
    background-color: rgb(1, 81, 95);
    color: rgb(255, 239, 194);
    width: 20%;
    text-align: right;
    padding-right: 8px;
    z-index: 10;
    font-size: 15px;
}

.tercera {
    position: relative;
    background-color: rgb(16, 71, 58);
    color: rgb(255, 239, 194);
    width: 20%;
    padding: 1px 10px;
    margin-top: 8px;
    margin-left: 30px;
    z-index: 2;
    font-size: 15px;
}

.cuarta {
    position: relative;
    background-color: rgb(11, 141, 102);
    color: rgb(255, 239, 194);
    width: 19%;
    text-align: left;
    padding: 1px 10px 2px;
    margin-left: 10px;
    z-index: 1;
    font-size: 15px;
}

.quinta {
    position: absolute;
    margin-left: 30%;
    width: 45%;
    height: 10vh;
    background-color: #616161;
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 15px;
}

.quinta>p,
.sexta>p {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    text-align: right;
}

.sexta {
    position: absolute;
    top: 27%;
    bottom: 10px;
    right: 67%;
    background-color: #000;
    color: white;
    padding: 8px;
    width: 30%;
    text-align: right;
    font-size: 12px;
}

.contenedor5 {
    margin-top: 2%;
}

.septima {
    position: fixed;
    top: 35%;
    right: 5%;
    background-color: rgb(0, 153, 153);
    color: white;
    width: 16%;
    height: 10vh;
    padding-right: 7px;
    text-align: right;
    overflow: scroll;
    font-size: 13px;
}

p.titulo {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #e1f4fc;
    padding: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}



